h1{
font-size: 40px;
-moz-border-radius: 20px;
padding: 15px;
color: green;
font-family: sans-serif
/*border-style:solid;
border-width:5px;
border-color:#00ff00;
border-style:outset;*/
text-align:right;
text-shadow: green 0.1em 0.1em 0.1em;
background: #F9F9F7 url("/images/sm.jpg");background-position:left;background-repeat: repeat-y;
}
body
{
background: #fff;
}
#header h1 {
        background-image: url("images/rails.png");
        background-repeat: no-repeat;
        background-position: top left;
        height: 64px;
      }

th{
font-size:20px;
padding: 6px;
color: blue;
}

td{
font-size:20px;
padding: 6px;
color: #999;
}

div{
font-size:20px;
padding: 6px;
}

/* set row color to even no of rows */
tbody tr:nth-child(even) td{background-color:gold;}
tbody tr:nth-child(odd) td{background-color:ping;}

/*to set text box color */
input[type=text]{background-color:#ff9;border:2px solid #bbb;}
