<!DOCTYPE html>
<html>
<head>
  <title>CssApp</title>
  <link rel="stylesheet" href="stylesheets/960.css" type="text/css" media="screen">
  <link rel="stylesheet" href="stylesheets/input.css" type="text/css" media="screen"> 
  <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen"> 
  <link rel="stylesheet" href="stylesheets/scaffold.css" type="text/css" media="screen"> 
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
